html {
  background: #EEEEEE;
}

body {
  max-width: 7in;
  padding: 0.5in 0.5in;
  background: #FFFFFF;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
  margin: auto;
  position: relative;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

img {
  width: 100%;
  display: block;
}
